:host{
  display:block;
  height:100vh;
  width:100vw;
}

/* 🔥 FULL BACKGROUND (NO WHITE ANYWHERE) */
.login-container{
  height:100%;
  width:100%;
  display:flex;
  justify-content:center;
  align-items:center;
  margin-left: 40px;
  background: url('../../assets/images/eaclogin.png') no-repeat center;

  background-size: cover;
}

/* 🔥 CENTERED CONTENT LIKE FIGMA */
.center-wrapper{
  width:1500px;
  display:flex;
}

/* LEFT */
.login-left{
  width:50%;
  display:flex;
  justify-content:center;
  align-items:center;
  color:black;
}

/* RIGHT */
.login-right{
  width:50%;
  display:flex;
  justify-content:center;
  align-items:center;
}

/* CONTENT */
.left-content{
  width:400px;
  display:flex;
  flex-direction:column;
}

/* LOGO */
.logo{
  width:270px;
  height:180px;
  background:url('../../assets/images/rednologoicon.png') center/contain no-repeat;
  margin-left: 75px;
  margin-bottom:-20px;
}

/* 🔥 CENTERED WHITE TEXT */
.subtitle{
  font-size:14px;
  line-height:1.5;
  text-align:center;
  color:black;
  margin-bottom:30px;
}

/* FORM */
form{
  display:flex;
  flex-direction:column;
}

/* 🔥 LABELS WHITE + CENTERED */
label{
  font-size:13px;
  color:black;
  text-align:left;
  margin-top:12px;
}

/* INPUT */
.input-group{
  display:flex;
  align-items:center;
  background:white;
  border-radius:6px;
  margin-top:6px;
  padding:0 12px;
  height:42px;
}

input{
  flex:1;
  border:none;
  outline:none;
  font-size:13px;  
  color:black;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
  box-shadow: 0 0 0 1000px white inset !important;
  -webkit-text-fill-color: black !important;
  transition: background-color 5000s ease-in-out 0s;
}

.icon{
  width:18px;
  height:18px;
  background-size:contain;
  background-repeat:no-repeat;
  margin-right:10px;
}

.email{
  background-image:url('../../assets/icons/usericon.png');
}

.password{
  background-image:url('../../assets/icons/padlockicon.png');
}


/* BUTTONS */
.login-btn,
.signup-btn{
  height:42px;
  border:none;
  border-radius:25px;
  background:#f7b733;
  color:black;
  cursor:pointer;
}

.login-btn{
  margin-top:20px;
}

.signup-btn{
  width:100%;
}

/* 🔥 CENTERED WHITE TEXT */
.forgot{
  margin-top:12px;
  font-size:12px;
  text-align:center;
  color:black;
  cursor:pointer;
}

.forgot:hover{
  color:#b40606;
}

/* DIVIDER */
.divider{
  display:flex;
  align-items:center;
  gap:10px;
  margin:25px 0;
  width:100%;
  font-size:12px;
  color:black;
  justify-content:center;
}

.divider::before,
.divider::after{
  content:"";
  flex:1;
  height:1px;
  background: black;
}

/* 🔥 BIG DIAMOND CENTER RIGHT */
.diamond{
  width:600px;
  height:600px;
  margin-left: 20px;
  background:url('../../assets/images/diamondlsslogo.png') center/contain no-repeat;
}