<div class="login-container">
  <div class="login-left">
    <div class="logo"></div>

    <p class="subtitle">
      Sign in to share, borrow, and track academic resources
      within Liceo de Cagayan University!
    </p>

    <form (ngSubmit)="login()">
      <label>Email</label>
      <input
        type="email"
        name="email"
        [(ngModel)]="email"
        placeholder="student@liceo.edu.ph"
        required
      />

      <label>Password</label>
      <input
        type="password"
        name="password"
        [(ngModel)]="password"
        placeholder="Enter password"
        required
      />

      <button 
        class="login-btn" 
        type="submit" 
        [disabled]="!email.trim() || !password.trim()">
        Login
      </button>
    </form>

    <p class="forgot">Forgot your password?</p>
    <p class="divider">or create an account</p>

    <button routerLink="/signinuser" class="signup-btn">
      Sign up
    </button>
  </div>

  <div class="login-right"></div>
</div>