:host{
  display:block;
}


.add-overlay{
  position:fixed;
  top:0;
  left:0;
  width:100vw;
  height:100vh;

  background:rgba(0,0,0,0.45);

  display:flex;
  justify-content:center;
  align-items:center;

  z-index:9999;
  font-family:Arial, Helvetica, sans-serif;
}


.add-modal{
  width:650px;
  background:white;
  border-radius:10px;

  padding:35px 40px 30px 40px;

  box-shadow:0 12px 30px rgba(0,0,0,0.25);

  position:relative;
}

.cancel-icon{
  position:absolute;
  right:20px;
  top:18px;

  width:18px;
  height:18px;

  cursor:pointer;

  background-image:url("../../assets/icons/cancelbtnicon.png");
  background-size:contain;
  background-repeat:no-repeat;
  background-position:center;
}

.form-group{
  margin-bottom:22px;
}

label{
  font-size:15px;
  font-weight:500;
  color:#333;
}

.required{
  color:#c30000;
}

.input-field{
  width:96.5%;
  height:30px;

  border:1px solid #d9d9d9;
  border-radius:6px;

  margin-top:8px;
  padding:8px 10px;

  font-size:14px;
}

.textarea-field{
  width:96.5%;
  height:140px;

  border:1px solid #d9d9d9;
  border-radius:6px;

  margin-top:8px;
  padding:10px;

  font-family: Arial, Helvetica, sans-serif;
  resize:none;
}

.char-counter{
  text-align:right;
  font-size:11px;
  color:#888;
  margin-top:4px;
}

.upload-box{
  margin-top:10px;

  background:#e9e9e9;
  border-radius:8px;

  height:100px;

  display:flex;
  justify-content:center;
  align-items:center;

  cursor:pointer;

  position:relative; 
}

.upload-content{
  display:flex;
  flex-direction:column;
  align-items:center;

  font-size:13px;
  color:#555;
}

.attach-icon{
  width:22px;
  height:22px;

  margin-bottom:4px;

  background-image:url("../../assets/icons/attachbtnicon.png");
  background-size:contain;
  background-repeat:no-repeat;
  background-position:center;
}

.remove-image{
  position:absolute;
  top:8px;
  right:8px;

  width:18px;
  height:18px;

  cursor:pointer;

  background-image:url("../../assets/icons/cancelbtnicon.png");
  background-size:contain;
  background-repeat:no-repeat;
  background-position:center;
}

.button-row{
  display:flex;
  justify-content:flex-end;
  margin-top:10px;
}

.btn-post{
  background:#5b0000;
  color:white;

  border:none;
  border-radius:6px;

  padding:8px 20px;

  font-size:13px;
  cursor:pointer;
}

.btn-post:hover{
  opacity:0.9;
}

.overlay{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;

  background:rgba(0,0,0,0.7);

  display:flex;
  justify-content:center;
  align-items:center;

  z-index:10000;
}