:host{
  display:block;
}

/* OVERLAY */

.overlay{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  padding:40px; /* 🔥 gives left/right breathing space */
  background:rgba(0,0,0,0.3);

  display:flex;
  justify-content:center;
  align-items:center;

  z-index:999;
  border-radius:12px;
}

/* MODAL */

.modal{
  width:100%;
  max-width:890px;

  margin-left:100px; /* 🔥 move modal to the LEFT */
  margin-bottom:65px;
  background:white;
  border-radius:12px;
  padding:20px;

  box-shadow:0 12px 30px rgba(0,0,0,0.25);
}

/* HEADER */

.header{
  display:flex;
  justify-content:space-between;
  align-items:center;
  margin-bottom:20px;
}

.header h2{
  font-size:22px;
  font-weight:600;
}

.close-btn{
  width:18px;
  height:18px;
  cursor:pointer;
  background:url('../../assets/icons/cancelbtnicon.png') center/contain no-repeat;
}

/* CONTENT */

.content{
  display:flex;
  gap:30px;
}

/* IMAGE */

.image-section{
  flex:1;
}

.image-preview{
  width:100%;
  height:260px;
  border-radius:10px;
  background:url('../../assets/images/dummypepic.png') center/cover no-repeat;
}

/* FORM */

.form-section{
  flex:1.3;
  display:flex;
  flex-direction:column;
  gap:14px;
}

.field{
  display:flex;
  flex-direction:column;
  gap:4px;
}

.field label{
  font-size:14px;
  font-weight:500;
}

input, textarea{
  width:100%;
  border:1px solid #ccc;
  border-radius:6px;
  padding:10px;
  font-size:14px;
  box-sizing:border-box;
}

textarea{
  height:120px;
  resize:none;
}

/* STATUS */

.status-group{
  display:flex;
  align-items:center;
  gap:14px;
  margin-top:10px;
}

.radio{
  display:flex;
  align-items:center;
  gap:8px;

  padding:6px 14px;
  border-radius:20px;
  font-size:13px;
  cursor:pointer;
}

/* hide default radio */
.radio input{
  display:none;
}

/* custom circle */
.circle{
  width:14px;
  height:14px;
  border-radius:50%;
  border:2px solid #333;
  display:inline-block;
  position:relative;
}

/* filled when checked */
.radio input:checked + .circle::after{
  content:'';
  width:8px;
  height:8px;
  background:black;
  border-radius:50%;
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
}

/* COLORS */

.radio.available{
  background:#B9FF66;
}

.radio.borrowed{
  background:#000;
  color:#fff;
}

.radio.borrowed .circle{
  border-color:#fff;
}

.radio.borrowed input:checked + .circle::after{
  background:#fff;
}

.radio.returned{
  background:#f3a300;
}

/* BUTTON */

.actions{
  display:flex;
  justify-content:flex-end;
  margin-top:25px;
}

.save-btn{
  background:#5b0000;
  color:white;
  border:none;
  border-radius:6px;
  padding:10px 24px;
  cursor:pointer;
}