<div class="dashboard">

  <!-- SIDEBAR -->
  <div class="sidebar">

    <div class="logo"></div>

    <div class="menu">

      <div class="menu-item" routerLink="/dashboard" routerLinkActive="active">
        <div class="icon home"></div>
        <span>Home</span>
      </div>

      <div class="menu-item" routerLink="/history" routerLinkActive="active">
        <div class="icon history"></div>
        <span>History</span>
      </div>

      <div class="menu-item" routerLink="/profile">
        <div class="icon profile"></div>
        <span>Profile</span>
      </div>

    </div>

    <div class="logout" (click)="toggleLogout()">
      <div class="icon logout-icon"></div>
      <span>Logout</span>
    </div>

  </div>


  <!-- MAIN AREA -->
  <div class="main">

    <!-- TOPBAR -->
    <div class="topbar">

      <!-- ADD BUTTON -->
      <div class="btn" (click)="openAddPopup()">
        <div class="icon add"></div>
        <span>Add</span>
      </div>

      <div class="top-icons">

        <!-- SEARCH -->
        <div class="search-container">
          <div class="icon search"></div>
          <input type="text" placeholder="Search">
        </div>

        <!-- NOTIF -->
        <div class="btn" (click)="toggleNotifications($event)">
          <div class="icon notif"></div>
        </div>

        <!-- MESSAGE -->
        <div class="btn" (click)="toggleMessages($event)">
          <div class="icon message"></div>
        </div>

      </div>

    </div>

    <!-- 🔥 CONTENT -->
    <div class="content">

      <div class="item-grid">
        <div class="item-card" *ngFor="let item of items" (click)="openItem(item)">

          <div class="item-title">{{ item.name }}</div>

          <div
          class="item-image"
          [style.backgroundImage]="'url(' + item.image + ')'">
          </div>

          <div class="item-footer">

            <div class="owner">
              <div class="avatar"></div>
              <span>{{ item.owner }}</span>
            </div>

            <div class="date">{{ item.date }}</div>

          </div>

        </div>

      </div>

    </div>

  </div>

</div>


<!-- LOGOUT -->
<app-logout
  *ngIf="showLogoutPopup"
  (cancel)="handleCancel()">
</app-logout>

<!-- ADD -->
<app-add
  *ngIf="showAddPopup"
  (cancel)="closeAddPopup()"
  (postItem)="handlePost($event)">
</app-add>

<!-- NOTIF -->
<app-notification
  *ngIf="showNotifications"
  (click)="$event.stopPropagation()">
</app-notification>

<!-- MESSAGE -->
<app-message
  *ngIf="showMessages"
  (click)="$event.stopPropagation()">
</app-message>


<app-itemview
  *ngIf="selectedItem"
  [item]="selectedItem"
  (close)="closeItem()">
</app-itemview>