/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

app-root {
  display: block;
  height: 100%;
  width: 100%;
}

button,
input[type="button"],
input[type="submit"],
.btn,
.save-btn,
.cancel,
.login-btn,
.signup-btn,
.btn-post,
.action-button {
  font-weight: normal !important;
}